body {
  margin: 0px;
  padding: 0px;
  font-family: "DM Sans", sans-serif;
  background-color: #fff;
  color: black;
}

.container {
  margin-left: 300px;
}

/*--------Navbar-----------------------------------------------------------------*/
nav {
  list-style-type: none;
  background-color: floralwhite;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  height: 80px;
  margin-left: 300px;
  display: flex;
  justify-content: space-between;
  padding-left: 20px;
}
nav #logout {
  font-size: 20px;
}

nav li {
  font-size: 25px;
  margin-top: 25px;
  font-weight: bold;
  list-style-type: none;
}

nav li a {
  text-decoration: none;
  color: black;
}

.logoutArea {
  display: flex;
}

.logoutArea img {
  height: 35px;
  width: 35px;
  padding: 20px 20px 0px 10px;
}

/*--------Sidebar-----------------------------------------------------------------*/
.wrapper {
  display: flex;
  position: relative;
}

.wrapper .sidebar {
  position: fixed;
  width: 300px;
  height: 100%;
  background-color: floralwhite;
  box-shadow: rgba(0, 0, 0, 0.25) 7px 0px 10px;
}
.wrapper .sidebar li {
  list-style-type: none;
  text-align: center;
  font-size: 20px;
  font-weight: bolder;
  padding: 30px 0px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.wrapper .sidebar a {
  text-decoration: none;
  color: black;
}
.wrapper .sidebar li:hover {
  background-color: #a79277;
}
.sidebar #dashImg {
  height: 200px;
  width: 200px;
  opacity: 100%;
  margin: 0px;
  padding: 0px;
}

.sidebar img {
  height: 25px;
  width: 25px;
  opacity: 40%;
}
/*--------DashBoard-----------------------------------------------------------------*/
.mainBoard {
  height: 780px;

  align-content: center;
}
.mainBoard h1 {
  padding-left: 40px;
  font-size: 40px;
}

#rowBox {
  display: flex;
}

#box {
  height: 250px;
  width: 450px;

  margin: 30px;
  display: flex;
  border-radius: 15px;
  flex-direction: column;
  justify-content: space-around;

  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.BoxText {
  font-size: 30px;
  padding-left: 30px;
}

.countImg {
  font-size: 70px;
  padding-left: 30px;
  display: flex;
  justify-content: space-between;
}
.count {
  padding-top: 40px;
}

.countImg img {
  height: 150px;
  width: 150px;
  padding-right: 30px;
  opacity: 20%;
}

.items {
  background-color: rgb(254, 254, 191);
  border-left: 9px solid rgb(255, 255, 93);
}

.orders {
  background-color: rgb(225, 235, 255);
  border-left: 9px solid rgb(82, 140, 255);
}

.pending {
  background-color: rgb(255, 212, 212);
  border-left: 9px solid rgb(255, 49, 49);
}

.deliverd {
  background-color: rgb(183, 255, 183);
  border-left: 9px solid rgb(74, 255, 74);
}

.users {
  background-color: rgb(253, 229, 184);
  border-left: 9px solid rgb(255, 188, 62);
}

.customer {
  background-color: rgb(190, 246, 255);
  border-left: 9px solid rgb(53, 228, 255);
}
