/*--------items-----------------------------------------------------------------*/

#itemContainer {
  margin-bottom: 30px;
}
table,
th,
td {
  border-collapse: collapse;
  padding: 10px 30px;
}

table,
tr {
  border: 1px solid black;
}

table {
  width: 90%;
  text-align: center;
  margin-left: 5%;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

h1 {
  margin-left: 40px;
}

img {
  width: 40px;
  height: 50px;
  padding: 0px;
}

.heading {
  display: flex;
}

.heading button {
  margin: 30px 0px 0px 950px;
  height: 30px;
  width: 150px;
}

form {
  background-color: beige;
  display: flex;
  flex-direction: column;
  padding: 30px;
  margin: 40px 250px;
  border: 4px solid #5f3602;
  border-radius: 30px;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

input {
  margin: 10px 0px 20px 0px;
  height: 40px;
  border-radius: 9px;
  text-align: center;
  font-size: 20px;
  box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}

button {
  font-size: 15px;
  width: 90%;
  border-radius: 8px;
  height: 40px;
  font-size: 20px;
  background-color: rgb(255, 255, 193);
  margin: 0px 10px;

  box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px,
    rgba(0, 0, 0, 0.05) 0px 5px 10px;
}

.buttons {
  display: flex;
}

label {
  font-size: 20px;
}

select,
option {
  margin: 10px 0px 20px 0px;
  height: 40px;
  border-radius: 9px;
  text-align: center;
  font-size: 20px;
  box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}

.hidden {
  display: none;
}

.show {
  display: visible;
}
